/* workflow config file */

includeConfig 'configs/params.config'
includeConfig 'configs/reference.config'

trace {
  enabled = true
  file = "RunInfos/RNAseq.Trace.txt"
  sep = "\t"
  raw = false
  overwrite = true
}

timeline {
  enabled = true
  file = "RunInfos/RNAseq.Timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "RunInfos/RNAseq.Runs.html"
  overwrite = true
}


